<div class="panel panel-default">
  <div class="panel-heading">What am I doing here?</div>
  <div class="panel-body">
    This is a simple todo app. On the home screen are random todos that some people have made.
    If you would like to use the todo app go ahead and sign in with a Google account and todo away.
  </div>
</div>
