<ul id='todo-list' class='todo-list list-group'>
  <% @todos.each do |todo| %>
    <li id='<%= dom_id(todo) %>' class='list-group-item'>
      <span class='todo-item-description' style='<%= "text-decoration: line-through" if todo.complete? %>'>
        <%= todo.description %>
      </span>
    </li>
  <% end %>
</ul>
