<%= form_for(@todo, remote: true) do |f| %>
  <div class='input-group todo-input-group'>
    <%= f.text_field :description, id: 'todo-input', class: 'form-control', placeholder: 'What do?' %>
  </div>

  <%= f.submit id: 'todo-submit' %>
<% end %>
