// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-list {
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.todo-input-group {
  width: 100%;
}

#todo-submit {
  display: none;
}
